:root {
    --main-color: #96c141;
    --secondary-color :#57923e;
    --gray-color:#f8f9fa;
    --white-color:#FFF;
    --padding-section: 60px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 12000px;
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: var(--white-color);
}

.main-heading {
    position: relative;
    margin: 0 auto 100px;
}

.main-heading::before {
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    width: 400px;
    height: 3px;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 10px 1px  var(--main-color);
}

.main-heading::after {
    content: '';
    position: absolute;
    width: 400px;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 5px 1px  var(--main-color);
}

.main-heading .h1{
    font-weight: 600;
}


/* Start Navbar  */

.navbar .logo{
    width: 30px;
    height: 24px;
}

.navbar ul li .nav-link:hover,
.navbar ul li .nav-link.active{
    background-color: var(--main-color);
    color: var(--white-color) !important;
}



/* End Navbar  */

/* start carousel */

.carousel_slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 1;
}

.carousel_slider .carousel-inner{ max-height: 100vh; }

.carousel_slider .carousel-caption { bottom: 50%; z-index: 2; }

/* End carousel */

/* Start Featchers */
.featchers {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--white-color);
}

.featchers .feat:nth-child(2) {
    background-color: #96c141;
    color: var(--white-color);
}
.featchers .feat h4 {
    font-weight: 600;
}

.featchers .feat p {
    font-size: 16px;
}


/* End Featchers */

/* Start Main  */

.main {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--gray-color);
}

.main .h1 {
    font-weight: 600;
    color: var(--secondary-color);
}


/* End Main  */

/* Start Servies */
.servies {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--white-color);
}

.servies  .serv i{
    width: 60px;
    height: 60px;
    padding: 15px;
    color: var(--white-color);
    background-color: var(--main-color);
}

.servies  .serv h4 {
    font-weight: 600;
}

.servies  .serv p {
    font-size: 18px;
}

/* End Servies */


/* Start Testimonials */
.testimonials {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--gray-color);
    background-image: url('../images/testimonials.jpg');
    background-size: cover;
    position: relative;
    height: 400px;
    color: #000;
}

.testimonials::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.70);
}

.testimonials .carousel-inner {
    height: 300px;
}

.testimonials .carousel-item {
    top: 80%;
    transform: translateY(-80%);
}

.testimonials .carousel-item p{
    color: var(--main-color);
    line-height: 1.7;
    margin-top: 20px;
}

.testimonials .carousel-item p::before {
    font-family: 'Font Awesome 5 Free';
    content: "\f10d";
    font-size: 20px;
    color: var(--white-color);
    font-weight: 600;
}

.testimonials .carousel-item p::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f10e";
    font-size: 20px;
    color: var(--white-color);
    font-weight: 600;
}

.testimonials .carousel-indicators button{
    /* height: 50px;
    width: 50px; */
}


/* End Testimonials */

/* Start Portfolio */
.portfolio {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--white-color);
}

.portfolio .box{
    position: relative;
    cursor: pointer;
}

.portfolio .box .figure {
    margin: 0;
}

.portfolio .box .figure .figure-img {
    margin-bottom: 0;
}

.portfolio .box .figure .figure-caption {
    display: none;
    background-color: #FFF;
    color: var(--secondary-color);
    font-weight: 700;
}

.portfolio .box:hover .figure-caption{
    display: block;
    position: absolute;
    bottom: -8px;
    border-bottom: 1px solid #57923e;
}


/* End Portfolio */


/* Start Subscribe */

.Subscribe {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--gray-color);
}

.Subscribe .btn-Subscribe {
    background-color:var(--secondary-color);
    color: var(--white-color);
}

/* End Subscribe */

